<!DOCTYPE html>
<head>
    <html lang="en">
    <meta charset="UTF-8">
    <title>Security Feeds</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script type="text/javascript" src="static/clocks.js"></script>
    <script type="text/javascript" src="static/tabs.js"></script>
</head>

<body>
    <div class="clock_header">
        <h1>World Clocks</h1>
        <hr>
    </div>

    <div class="worldClocks">
        <div class="clockWrapper">
            <h1>Oslo<br></h1>
            <h2><span class="clock" data-timezone="Europe/Oslo"></span></h2>
        </div>
        <div class="clockWrapper">
            <h1>New York<br></h1>
            <h2><span class="clock" data-timezone="America/New_York"></span></h2>
        </div>
        <div class="clockWrapper">
            <h1>Shanghai<br></h1>
            <h2><span class="clock" data-timezone="Asia/Shanghai"></span></h2>
        </div>
        <div class="clockWrapper">
            <h1>Moscow<br></h1>
            <h2><span class="clock" data-timezone="Europe/Moscow"></span></h2>
        </div>
    </div>

    <div class="tab-buttons">
        <button class="button tablink buttonRed" onclick="openSource(event, 'News')">News</button>
        <button class="button tablink" onclick="openSource(event, 'Socials')">Socials</button>
        <button class="button tablink" onclick="openSource(event, 'Vulnerabilities')">Latest Vulnerabilities</button>
    </div>

    <div id="News" class="source">
        <div class="news_header">
            <h1>The latest news</h1>
            <hr>
        </div>
        <div class="newsBox">
            <div class="entry">
                <h1><a href="https://krebsonsecurity.com/" target="_blank">Krebs on Security</a></h1>
                {%for i in krebs_entry%}
                <h3><a href="{{i.link}}" target="_blank">{{i.title}}</a></h3>
                {%endfor%}
            </div>
        
            <div class="entry">
                <h1><a href="https://thehackernews.com/" target="_blank">The Hacker News</a></h1>
                {%for i in thn_entry%}
                <h3><a href="{{i.link}}" target="_blank">{{i.title}}</a></h3>
                {%endfor%}
            </div>
        
            <div class="entry">
                <h1><a href="https://www.darkreading.com/" target="_blank">Dark Reading</a></h1>
                {%for i in darkr_entry%}
                <h3><a href="{{i.link}}" target="_blank">{{i.title}}</a></h3>
                {%endfor%}
            </div>
        
            <div class="entry">
                <h1><a href="https://blog.talosintelligence.com/" target="_blank">Talos Intelligence</a></h1>
                {%for i in talos_entry%}
                <h3><a href="{{i.link}}" target="_blank">{{i.title}}</a></h3>
                {%endfor%}
            </div>
        
            <div class="entry">
                <h1><a href="https://nakedsecurity.sophos.com/" target="_blank">Naked Security</a></h1>
                {%for i in nakedsec_entry%}
                <h3><a href="{{i.link}}" target="_blank">{{i.title}}</a></h3>
                {%endfor%}
            </div>
        
            <div class="entry">
                <h1><a href="https://www.mandiant.com/resources/blog" target="_blank">Mandiant</a></h1>
                {%for i in mandiant_entry%}
                <h3><a href="{{i.link}}" target="_blank">{{i.title}}</a></h3>
                {%endfor%}
            </div>
        
            <div class="entry">
                <h1><a href="https://www.bleepingcomputer.com/" target="_blank">Bleeping Computer</a></h1>
                {%for i in bleeping_entry%}
                <h3><a href="{{i.link}}" target="_blank">{{i.title}}</a></h3>
                {%endfor%}
            </div>
        
            <div class="entry">
                <h1><a href="https://securelist.com/" target="_blank">Securelist</a></h1>
                {%for i in kaspersky_entry%}
                <h3><a href="{{i.link}}" target="_blank">{{i.title}}</a></h3>
                {%endfor%}
            </div>

            <div class="entry">
                <h1><a href="https://www.sentinelone.com/blog/" target="_blank">SentinelOne</a></h1>
                {%for i in sentinelone_entry%}
                <h3><a href="{{i.link}}" target="_blank">{{i.title}}</a></h3>
                {%endfor%}
            </div>

            <div class="entry">
                <h1><a href="https://therecord.media/" target="_blank">The Record</a></h1>
                {%for i in therecord_entry%}
                <h3><a href="{{i.link}}" target="_blank">{{i.title}}</a></h3>
                {%endfor%}
            </div> 
            <div class="entry">
                <h1><a href="https://www.cisa.gov/uscert/ncas/current-activity" target="_blank">From CISA</a></h1>
                    {%for i in cisa_entry%}
                    <h3><a href="{{i.link}}" target="_blank">{{cisa_titles[loop.index0]}}</a></h3>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
        
    <div div id="Socials" class="source" style="display:none">
        <div class="socials_header">
            <h1>What's being talked about</h1>
            <hr>
        </div>
        <a class="twitter-timeline" data-height="1000" data-width="50%" data-theme="dark" href="https://twitter.com/osintbotlol/lists/1544636277257019393?ref_src=twsrc%5Etfw">A Twitter List by osintbotlol</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div id="Vulnerabilities" class="source" style="display:none">
        <div class="cve_header">
            <h1>Vulnerabilities from the past four days</h1>
            <hr>
        </div>
        <div class="cves">
            <div class="lowSeverity">
            <h1 style="text-align: center;">Low Severity (1.0 - 4.9)</h1>
                {% for i in cve_list%}
                    {% if i[1][0]  >= 4.9 and i[1][0] <= 1.0 %}
                    <h2><a href="{{i[1][3]}}" target="_blank">ID: {{ i[0] }}</a></h2>
                    <p>Published: {{i[1][1]}}</p>
                    <p>Last modified: {{i[1][2]}}</p>
                    <p>Score: {{ i[1][0] }}</p>
                    <p>Description: {{i[1][4]}}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="medSeverity">
                <h1 style="text-align: center;">Medium Severity (5.0 - 8.9)</h1>
                {% for i in cve_list%}
                    {% if i[1][0]  >= 5.0 and i[1][0] <= 8.9 %}
                    <h2><a href="{{i[1][3]}}" target="_blank">ID: {{ i[0] }}</a></h2>
                    <p>Published: {{i[1][1]}}</p>
                    <p>Last modified: {{i[1][2]}}</p>
                    <p>Score: {{ i[1][0] }}</p>
                    <p>Description: {{i[1][4]}}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="highSeverity">
                <h1 style="text-align: center;">High Severity (>9.0)</h1>
                {% for i in cve_list%}
                    {% if i[1][0]  >= 9.0 and i[1][0] <= 10.0 %}
                    <h2><a href="{{i[1][3]}}" target="_blank">ID: {{ i[0] }}</a></h2>
                    <p>Published: {{i[1][1]}}</p>
                    <p>Last modified: {{i[1][2]}}</p>
                    <p>Score: {{ i[1][0] }}</p>
                    <p>Description: {{i[1][4]}}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
